.App {
    text-align: center;
}

#App-body {
}

#App-body h1 {
    color: green;
}

#App-body p {
    text-align: justify;
    padding: .1em .1em .1em 1em;
    margin: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(93, 173, 27, 0.15) !important;
}
