#navheader {
    background-color: darkslategrey;
    min-height: 8vh;
    max-height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#navheader h1 {
    font-size: 5vh;
    line-height: 8vh;
    padding-right: 1em;
}

ul.steps-inline {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.steps-inline > li, ol.steps-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.steps-inline .nav-link {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    color: white !important;
}

.btn.btn-step {
    background-color: darkgray;
    color: white;
    width: 6vh;
    height: 6vh;
    text-align: center;
    padding: 0;
    margin: 1vh 0 1vh 0;
    font-size: 3vh;
    line-height: 6vh;
    border-radius: 8vh;
}

.btn.btn-step.active {
    background-color: white;
    color: black;
}

@media (prefers-reduced-motion: no-preference) {
    #navheader h1 {
        animation: navheader-spin infinite 10s linear;
    }
}

@keyframes navheader-spin {
    70% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    90% {
        transform: scale(.9);
    }
}

