/node_modules
/public/hot
/public/storage/framework
/public/storage/views
/public/storage/cache
/public/storage/csv
/storage/*.key
/storage/framework
/vendor
.env
.env.local
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
coverage/
